{% extends "base.html" %}

{% block title %}Analyze{% endblock %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="row">
    <div class="col-md-6">
        <h5 class="text-center">Expenses</h5>
        <div style="height: 400px;">
            <canvas id="ExpensesDistribution"></canvas>
        </div>
    </div>
    <div class="col-md-6">
        <h5 class="text-center">Income</h5>
        <div style="height: 400px;">
            <canvas id="IncomeDistribution"></canvas>
        </div>
    </div>
</div>

<script>
    const ctx1 = document.getElementById('ExpensesDistribution');
    new Chart(ctx1, {
        type: 'pie',
        data: {
            labels: ['Home', 'Work', 'Personal'],
            datasets: [{
                label: 'Expenses allocated',
                data: [{{ home_expense }}, {{ work_expense }}, {{ personal_expense }}],
            }]
        },
        options: { responsive: true, maintainAspectRatio: false }
    });

    const ctx2 = document.getElementById('IncomeDistribution');
    new Chart(ctx2, {
        type: 'pie',
        data: {
            labels: ['Home', 'Work', 'Personal'],
            datasets: [{
                label: 'Income received',
                data: [{{ home_income }}, {{ work_income }}, {{ personal_income }}],
            }]
        },
        options: { responsive: true, maintainAspectRatio: false }
    });
</script>

{% endblock %}