{% extends "base.html" %}

{% block title %}Edit Log {% endblock %}

{% block content %}
    <div class="row justify-content-center">
    <div class="col-md-6">
        <h1>Edit Log</h1>
        <form method="POST">
                    <label for="ExpenseName" class="form-label">Title</label>
                    <input name="ExpenseName" type="text" class="form-control" value="{{ task[2] }}" required>
                    <label for="Amount" class="form-label">Amount</label>
                    <input name="Amount" type="integer" class="form-control" value="{{ task[3] }}" required>

                    <label for="Note" class="form-label">Note</label>
                    <input name="Note" type="text" class="form-control" value="{{ task[4] }}">

                    <label for="Date" class="form-label">Deadline</label>
                    <input type="date" name="Date" class="form-control" value="{{ task[5] }}">

                    <label for="Type" class="form-label">Priority</label>
                    <select name="Type" class="form-select">
                        <option value="expense" {{ 'selected' if task[6] == 'expense' }}>Expense</option>
                        <option value="income" {{ 'selected' if task[6] == 'income' }}>Income</option>
                    </select>

                    <label for="Category" class="form-label">Category</label>
                    <select name="Category" class="form-select">
                                <option value="Salary" {{ 'selected' if task[7] == 'Salary' }}>Salary</option>
                                <option value="Food" {{ 'selected' if task[7] == 'Food' }}>Food</option>
                                <option value="Rent" {{ 'selected' if task[7] == 'Rent' }}>Rent</option>
                                <option value="Transport" {{ 'selected' if task[7] == 'Transport' }}>Transport</option>
                                <option value="Entertainment" {{ 'selected' if task[7] == 'Entertainment' }}>Entertainment</option>
                                <option value="Shopping" {{ 'selected' if task[7] == 'Shopping' }}>Shopping</option>
                                <option value="Utilities" {{ 'selected' if task[7] == 'Utilities' }}>Utilities</option>
                                <option value="Other"{{ 'selected' if task[7] == 'Other' }}>Other</option>

                    </select>

                    <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
                    <a href="{{ url_for('dashboard') }}" class="btn btn-secondary mt-3">Cancel</a>
                </form>
    </div>
</div>
{% endblock %}